body {
    background-color: #E8E8E8;
    font-family: Montserrat, arial;
    /* display: flex;
    justify-content: center; */
    /* align-items: center;  */
    height: 100vh; 
    margin: 0;
    margin-top: 3%;
    padding: 0;
    
  }

.cards {
    display: flex; /* Exibir os cards em linha */
    justify-content: center; /* Alinhar os cards à esquerda e à direita */
    align-items: flex-start; /* Alinhar os cards ao topo */
}

h2.code {
    text-align: center;
}
